<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iot.imc.mapper.IotImcItemInvoiceDeviceMapper">
    
    <resultMap type="AnImcItemInvoiceDevice" id="AnImcItemInvoiceDeviceResult">
        <result property="id"    column="id"    />
        <result property="invoiceId"    column="invoice_id"    />
        <result property="device"    column="device"    />
        <result property="sort"    column="sort"    />
        <result property="version"    column="version"    />
        <result property="createBy"    column="create_by"    />
        <result property="creatorId"    column="creator_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="lastOperatorId"    column="last_operator_id"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="companyId"    column="company_id"    />
        <result property="companyName"    column="company_name"    />
    </resultMap>

    <sql id="selectAnImcItemInvoiceDeviceVo">
        select id, invoice_id, device, sort, version, create_by, creator_id, create_time, update_by, last_operator_id, update_time, remark, company_id, company_name from an_imc_item_invoice_device
    </sql>

    <select id="selectAnImcItemInvoiceDeviceList" parameterType="AnImcItemInvoiceDevice" resultMap="AnImcItemInvoiceDeviceResult">
        <include refid="selectAnImcItemInvoiceDeviceVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectAnImcItemInvoiceDeviceById" parameterType="Long" resultMap="AnImcItemInvoiceDeviceResult">
        <include refid="selectAnImcItemInvoiceDeviceVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAnImcItemInvoiceDevice" parameterType="AnImcItemInvoiceDevice" useGeneratedKeys="true" keyProperty="id">
        insert into an_imc_item_invoice_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="invoiceId != null ">invoice_id,</if>
            <if test="device != null  and device != ''">device,</if>
            <if test="sort != null ">sort,</if>
            <if test="version != null ">version,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="creatorId != null ">creator_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="lastOperatorId != null ">last_operator_id,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="companyId != null ">company_id,</if>
            <if test="companyName != null and companyName != ''">company_name,</if>
         </trim>
    </insert>

    <update id="updateAnImcItemInvoiceDevice" parameterType="AnImcItemInvoiceDevice">
        update an_imc_item_invoice_device
        <trim prefix="SET" suffixOverrides=",">
            <if test="invoiceId != null ">invoice_id = #{invoiceId},</if>
            <if test="device != null  and device != ''">device = #{device},</if>
            <if test="sort != null ">sort = #{sort},</if>
            <if test="version != null ">version = #{version},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="creatorId != null ">creator_id = #{creatorId},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="lastOperatorId != null ">last_operator_id = #{lastOperatorId},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="companyId != null ">company_id = #{companyId},</if>
            <if test="companyName != null and companyName != ''">company_name = #{companyName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAnImcItemInvoiceDeviceById" parameterType="Long">
        delete from an_imc_item_invoice_device where id = #{id}
    </delete>

    <delete id="deleteAnImcItemInvoiceDeviceByIds" parameterType="String">
        delete from an_imc_item_invoice_device where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>